
<form>
  <label>Song Name:</label>
  {{input value=model.name class="form-control"}}
  <br>
  
  <label>Artists:</label>
  {{multiselect-checkboxes options=allArtists selection=selectedArtists labelProperty="name" tagName="div"}}

  <button {{action "save"}} class="btn btn-primary">create new artist</button>
</form>