<h4>{{model.name}}</h4>

<p id="album">album: {{#link-to 'albums.album' model.album.id}}{{model.album.name}}{{/link-to}}</p>

artists:
<ul>
  {{#each model.artists as |artist|}}
    <li class="artists">{{#link-to 'artists.artist' artist}}{{artist.name}}{{/link-to}}</li>
  {{/each}}
</ul>

