<h4>{{model.name}}</h4>

<p id="album">album: {{#link-to 'albums.album' model.album.id}}{{model.album.name}}{{/link-to}}</p>

artists:
<ul>
  start you iteration through a song's artists here
    <li class="artists">render the artist's name here. the name should link to that artist's show page.</li>
</ul>

