<h4>Put the artist's name here</h4>

albums:
<ul>
  iterate of the artist's albums
    <li class="albums">
      place the album name here. the name should link to the album's show page.
    </li>

</ul>

